@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,900,200');
@import "compass/css3";

body {
  background-color:black;
  margin: 0;
  color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}
#top
{
    background-image:url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
#h_header
{
    padding-top: 3%;
    width: 100%;
}
#nav_logo
{
    min-width:15%;
    max-width: 50%;
    margin-left:20px;
    padding: 2px;
}
#nav_but
{
    background-color: transparent;
    border-width: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-radius: 30px;
    border-color: #45EDF2;
    color: white;
    margin-left:15px;
    margin-right: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    cursor: pointer;
    max-width:100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
    overflow: hidden;
    background-color: transparent;
  }
#home
{
  background-image:url("bg5out.gif");
    background-repeat: no-repeat;
    background-position:center;
    width:100%;
    background-size: cover;
}
#home2
{background-image:url("home_bg.png");
  background-repeat: no-repeat;
  f-l_a-g: AARHANT_THM{Y0u_; 
  background-position:bottom;
  width:100%;
  background-size:cover;
  height:100%;
}
#h_table1
{
  width:100%;
}
#li1{
  width: 100%;
  text-align: start;
  padding-top: 10px;
}
#h_intro
{
  width:70%;
  padding-top: 8%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5px;
  font-size: small;
  font-weight: normal;
}
#h_intro_2
{
  text-align: right;
}

#h_but
{
  background-image: url(but_bg.png);
  background-position: center;
  border-width: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight:400;
    cursor: pointer;
    max-width:100%;
    margin-bottom: 5%;
}
#h_td1
{font-weight: lighter;}
#h_td2
{font-size: large;
text-align:right}
#h_p1
{
  text-align: center;
}
.glitch {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size:380%;
  position: relative;
  width:80%;
  margin-bottom: 4%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  align-items: center;
}
.glitch:hover
{
  color:rgba(0, 0, 0, 0);
}
/*
#alien
{
  z-index: -1;
  display: block;
  width:50%;
  margin-left: 25%;
  margin-right: 25%;
}
#alien:hover
{
  display: none;
  opacity: 50%;
  
}*/
#h_p2
{
  text-align: center;
  font-style: italic;
  font-weight: normal;
  font-size: larger;
  letter-spacing: 2px;
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
#h_p2:hover
{
  background-image: url('but_bg.png');
}  
#h_p3
{
  text-align: center;
  font-size:medium;
  margin-bottom: 7%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  letter-spacing: 1px;
}
.section
{
  z-index: 1;
}
#h_p4
{
  text-align: center;
  padding-bottom: 18%;
}
#t1
{
  z-index: -1;
  max-width: 22%;
  min-width: 20%;
  padding-left: 22%;
  margin-top: -5%
}
#t2
{
  z-index: -1;
  max-width: 25%;
  min-width: 25%;
  padding-left: 5%;
  margin-bottom: -1%;
}
#t3
{
  z-index: -1;
  max-width: 20%;
  min-width: 20%;
  padding-left: 18%;
  margin-bottom:-5%
}
#t4
{
  z-index: -1;
  max-width: 20%;
  min-width: 20%;
  padding-left: 15%;
  margin-bottom: -10%;
}
#t1:hover
{
  max-width: 23%;
}
#t4:hover
{
  max-width: 22%;
}
#last
{
  position: relative;
  padding-top:15%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
#t_p1{
text-align: center;
margin-top: 0%;
font-size: x-large;
font-weight: 100;
letter-spacing: 2px;
width: 80%;
margin-left: 10%;
margin-right: 10%;
}
#t_p2
